@import "tailwindcss";

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heading {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Forces the browser to animate the scroll position globally */
html,
body {
  scroll-behavior: smooth !important;
  overflow-y: auto !important;
  height: auto !important;
}

:root {
  --font-color: #d94692;
  --lighter-font-color: #f844a1;
  --bg-color: #fff9f3;
}

body {
  background-color: var(--bg-color);
}
.google-sans-regular {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
